* {
  list-style: none;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.75);
  text-decoration: none;

  /* font-family: 'Abel', sans-serif; */
  font-family: 'Open Sans', sans-serif;

}
html {
  background-color: rgba(0,0,0,.72);
  height: inherit;
}

body {
  margin: 0px 15%;
  height: inherit;
  padding: 100px 7% 40px 7%;
  letter-spacing: 1.1px;
  background-color: #F4F4F0;
  box-shadow: 1px 1px 37px 2px rgba(0,0,0,0.8);
  -webkit-box-shadow: 1px 1px 37px 2px rgba(0,0,0,0.8);
  -moz-box-shadow: 1px 1px 37px 2px rgba(0,0,0,0.8);
  position: relative;
}

header {
  margin-bottom: 50px;
}

header h1 a {
  font-size: 78px;
  color: black;
  letter-spacing: 4px;
  font-family: 'Rock Salt', cursive;
  font-weight: 900;

}

.fadeIn {
  -webkit-animation-duration: 3.5s !important;
  -moz-animation-duration: 3.5s !important;
  -o-animation-duration: 3.5s !important;
  animation-duration: 3.5s !important;
}

.nav-list {
  display: flex;
  justify-content: center;
  -webkit-animation-delay: 2s !important;
  -moz-animation-delay: 2s !important;
  -o-animation-delay: 2s !important;
  animation-delay: 2s !important;
}

.nav-list a {
  padding: 5px;
  margin: 0 15px 0 0;
  font-size: 22px;
  color: #4900C1;
}

.nav-list a:hover {
  color: #8E69CA;
  border-bottom: 2px solid #8E69CA;
}

.welcome {
  display: flex;
  margin-top: 70px;
}

.intro {
  margin-top: 10%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 30px;
}

.intro h1 {
  font-weight: 900;
  margin-bottom: 20px;

}

.intro p {
  font-weight: 400;
}


.welcome img {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  object-fit: cover;
  opacity: .95;
}


.about-section {
  padding: 5px;
  margin-top: 20px;
  font-size: 22px;
}

.about-section h1 {
  font-size: 35px;
  font-weight: 500;
  margin: 40px 0;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.about-section main {
  margin: 0 50px 100px 50px;
  text-align: center;
}

.skills {
  /* margin-right: 500px; */
}

.skills ul {
  display: flex;
  flex-direction: column;
}

#skills1, #skills2, #skills3 {
  display: flex;
  justify-content: space-between;
}

.skills li {
  height: 130px;
  width: 130px;
  padding: 30px;
}

.skills i {
  font-size: 130px;
}


.projects {
  display: flex;
  flex-direction: column;
}

.p1, .p2 {
  display: flex;
  margin: 50px 0;
}

.p1 aside {
  height: 400px;
  width: 100%;
  margin: 25px 30px 25px 0;
}

.p2 aside {
  height: 400px;
  width: 100%;
  margin: 25px 0px 25px 30px;
}

.p2 content, .p1 content {
  width: 30%;
}
.p1 img, .p2 img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.p1 a, .p2 a {
  height: inherit;
  width: inherit;
}
.p1 img:hover, .p2 img:hover {
  opacity: .5;
}

.p1 h3, .p2 h3 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 15px;
}

.p1 p, .p2 p {
  font-size: 18px;
}

.p1 ul, .p2 ul {
  display: flex;
  margin-top: 25px;
}

.p1 li, .p2 li {
  margin-right: 10px;
  font-size: 18px;
  color: #4900C1;
}

.p1 a, .p2 a {
  color: #4900C1;
}

.contact p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 100px;
}

.contact ul {
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}

.contact li {
  margin-top: 15px;
}

.contact a {
  margin-left: 15px;
}

.contact .text-link:hover {
  border-bottom: 2px solid rgba(0,0,0,.4);
}
.contact a:hover {
  color: rgba(0,0,0,.6);
}

.gallery {
  margin-top: 100px;
}

.gallery h1 {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  margin: 50px 0;
  border-bottom: 1px solid rgba(0,0,0,.2);

}

.gallery li {
  height: 600px;
  width: 100%;
  margin-bottom: 120px;
}

.gallery li img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
}
